VITE_SUPABASE_URL=https://oksumvxiazqxkutralus.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9rc3VtdnhpYXpxeGt1dHJhbHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyODc3MDUsImV4cCI6MjA5ODg2MzcwNX0.FPwvO_JKzs7yB0Vxo_x5eJXChrE_1w_5WUjprsfC8o4
